.caja {
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #F3F5FC;  
}
/* Logo */
img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  position: absolute;
  width: 120px;
  height: 48px;
  left: 40px;
  top: 40px;

}

/*Solo letras minuscula*/

p {
  width: 225px;
  height: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #495057;
  opacity: 0.8;
  flex: none;
  order: 1;
  flex-grow: 0;

}

#biexclamation {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 230px;
  top: 851px;
  color: #495057;
}

.msinacento {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 229px;
  height: 18px;
  left: 250px; 
  top: 851px;
}


#texto {
  position: absolute;
  width: 577px;
  height: 48px;
  left: 240px;
  top: 168px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #0a3871;
  border: none;
  background: #F3F5FC;
  
}

#munheco {
  position: absolute;
  width: 336px;
  height: 304px;
  left: 1032px;
  top: 283px;
}

.Rectangulo {
  position: absolute;
  width: 400px;
  height: 944px;
  left: 1000px;
  top: 40px;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px;
  border-radius: 32px;
}

/* botones encriptar/desencriptar */
.areaboton1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 680px;
  height: 67px;
  left: 240px;
  top: 885px;

}



.boton1 {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  padding: 24px;
  gap: 8px;
  width: 328px;
  height: 67px;
  background: #0a3871;
  border-radius: 24px;
  
}

.boton2 {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  padding: 24px;
  gap: 8px;
  width: 328px;
  height: 67px;
  background: #FFFFFF;
  border-radius: 24px;
  
}

#encriptar {
  width: 280px;
  height: 19px;
  font-family: revert;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 1px;
  text-align: center;
  color: #ffffff;
}

#desencriptar {
  width: 280px;
  height: 19px;
  font-family: revert;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 1px;
  text-align: center;
  color: #0A3871;
}




